.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 20px;
}

.card {
  max-width: 300px;
  margin: 20px;
}

.button_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px; /* Отступ сверху для кнопок */
}

