.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 80vh;
  margin-top: 200px;
}

.addNewWordContainer {
  margin-bottom: 5vh; 
}

.table {
  margin: 0 auto;
  margin-bottom: 200px;
  border: 2px solid purple;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.tableRow:nth-child(even) {
  background-color: #f2f2f2;
}

.button {
  margin-right: 10px;
  width: 150px;
  background-color: #f16b64;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: black;
}